@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Roboto+Slab:wght@600&family=Ubuntu:ital,wght@1,300&display=swap');
* {
  box-sizing: border-box;
}
.portfolio-card {
  position: relative;
  height: 70vh;
  width: 100%;
  display: flex;
  background: linear-gradient(270deg, #e4d4b2, #f64f59 95%);
  background: url("../../static/img_blueroad.jpg");
  /* background: url("../../static/img_work.jfif"); */
  background-size: cover;
  background-position: center;
  border-radius: 20%;
  -moz-outline-radius: 1rem;
  overflow: hidden;
  margin-bottom: 3rem;
	transition: ease 0.5s;
	user-select: none;
	z-index: 10;
}

.portfolio-card:hover {
  position: relative;
  height: 70vh;
  width: 212%;
  border-radius: 2rem;
	transition: .5s;
	z-index: 100;
}
#Card_right{
  flex-direction: row-reverse;
}
#Card_left{
  flex-direction: row;
}
.portfolio-card > div {
  position: relative;
  width: 50%;
  height: 100%;
}
.portfolio-card .left-side {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 5%;
  opacity: 0;
  z-index: 5;
	/* transition: ease 0.1s; */
  /* transition-delay: 0.1s; */
}
.portfolio-card:hover .left-side {
  display: flex;
  opacity: 1;
  transition: ease 0.5s;
  transition-delay: 0.2s;
}

.left-side .slideshow {
  width: 100%;
  height: 100%;
  background: url('../../static/img_comingsoon.JPG');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.portfolio-card .overlay {
  position: absolute;
  background: rgb(17, 17, 17);
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 0;
  transition: ease 0.8s;
}
.portfolio-card:hover .overlay {
  opacity: 1;
  transition: ease 0.2s;
  transition-delay: 0s;
}
.main-title{
  position: absolute;
  width: 100%;
  max-width: 80%;
  font-size: 3vw;
  font-family: 'Poppins', cursive;
  font-weight: 900;
  line-height: 2rem;
  text-transform: lowercase;
  text-align: left;
  bottom: 15%;
  left: 10%;
  color: rgb(255, 255, 255);
  opacity: 1;
  margin: 0;
  transition: ease 0.5s;
  /* transition-delay: 0.2s; */
}
.portfolio-card:hover .main-title{
  /* top: 100%; */
  left: 60%;
  opacity: 0;
  transition: ease 0.8s;
}
.left-side:hover .main-title{
  /* opacity: 0; */
}
.left-side .gradient-title {
  width: 100%;
  height: auto;
  text-align: left;
  font-size: 2vw;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  text-transform: lowercase;
  /* background: linear-gradient(
    104deg,
    rgba(34, 195, 120, 1) 4%,
    rgba(28, 222, 205, 1) 37%,
    rgba(149, 45, 253, 1) 76%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: white;
  margin-bottom: 5px;
}

.left-side .tags {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.tags .tag {
  width: fit-content;
  height: fit-content;
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  /* text-transform: uppercase; */
  color: rgba(0, 221, 233, 0.836);
  padding: 8px;
  margin: 0 4px 4px 0;
  border: solid rgba(0, 186, 196, 0.349) 2px;
  border-radius: 1rem;
  /* background: black; */
}

.right-side {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 4%;
  background: rgb(25, 25, 25);
  border-radius: 2rem;
  opacity: 0;
	transition: ease 0.3s;
}
.portfolio-card:hover .right-side{
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  background: rgb(17, 17, 17);
  opacity: 1;
  transition: ease 0.5s;
  transition-delay: 0.15s;
}

.right-side * {
  /* border: solid black 1px; */
  margin: 0;
}
.right-side .info {
  width: 100%;
  height: auto;
  height: 85%;
  border-radius: 1rem;
  background-color: rgb(32, 32, 32);
  overflow: hidden;
}
.right-side .info h1 {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(270deg, #e4d4b2, #f64f59 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: white;
  margin-bottom: 0%;
}
.right-side .info h3 {
  font-family: "Montserrat", sans-serif;
  
  background: linear-gradient(
    121deg,
    rgb(219, 179, 68) 30%,
    rgb(236, 69, 131) 70%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgb(110, 110, 110);
  margin-bottom: 0.5rem;
}
.right-side .info p {
  width: 100%;
  height: 110%;
	/* max-height: 90%; */
  overflow-y: auto;
  /* overflow: scroll; */
  font-family: "Montserrat", sans-serif;
  font-size: 110%;
  font-weight: 100;
  border-radius: 2rem 2rem 3rem 3rem;
  line-height: 2rem;
  padding: 5px;
  color: rgb(196, 195, 195);
  margin: 0;
}

/* CUSTOMIZED SCROLL BAR*/
.content{
  scroll-behavior: smooth;
}
.content::-webkit-scrollbar{
  width: 5px;
}
.content::-webkit-scrollbar-track {
  background: rgb(59, 59, 59);
  border-radius: 10px;
}
.content::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}
.content::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

/* PROJECT LINKS */
.right-side .links {
  position: absolute;
  bottom: 6%;
  left: 10%;
  display: flex;
  width: 80%;
  height: 10%;
  border-radius: 2rem;
	overflow: hidden;
} 
.links a {
	height: 100%;
	flex: 50%;
  display: flex;
	justify-content: center;
	align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
	flex-direction: row;
	text-decoration: none;
  color: rgb(255, 255, 255);
	text-transform: lowercase;
  border-radius: 2rem;
  margin: 5px 8px;
}

.links a img{
  width: 20px;
}
#demo-link{
  background: linear-gradient(
    to right,
    rgb(228, 188, 79) 30%,
    rgb(236, 69, 131) 65%
  );
	background-size: 200% 100%;
  background-position: 99% 99%;
  animation: ease-in 3s infinite both;
	transition: ease 0.3s;
}
#demo-link:hover{
  background-position: left center;
	transition: ease 0.3s;
	cursor: pointer;
}
#github-link{
	background: linear-gradient(to right, #c0d5e4, #2c3e50);
	background-size: 300% 100%;
	background-position: 99% 99%;
	transition: ease 0.4s;
}
#github-link:hover{
	background-position: left center;
	transition: ease 0.4s;
	cursor: pointer;
}
#proj-1 {
  background: url({});
}
