* {
  box-sizing: border-box;
}
.parent {
  height: 70vh;
  width: 220%;
}
.portfolio-card {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 1rem;
  overflow: hidden;
}
.portfolio-card > div {
  position: relative;
  width: 50%;
  height: 100%;
}
.portfolio-card .left-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 3%;
}

.left-side .gradient-title {
  width: 100%;
  height: auto;
  text-align: left;
  font-size: 2vw;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  text-transform: lowercase;
  background: linear-gradient(
    104deg,
    rgba(34, 195, 120, 1) 4%,
    rgba(28, 222, 205, 1) 37%,
    rgba(149, 45, 253, 1) 76%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.left-side .tags {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.tags .tag {
  width: fit-content;
  height: fit-content;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: rgb(0, 0, 0);
  padding: 8px;
  margin-right: 0.5rem;
  border: solid rgb(0, 186, 196) 2px;
  /* background: black; */
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 7%;
  background: rgb(25, 25, 25);
}

.right-side * {
  /* border: solid black 1px; */
  margin: 0;
}
.right-side div {
  width: 100%;
  height: auto;
}
.right-side div h3 {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
    121deg,
    rgba(255, 0, 48, 1) 0%,
    rgba(253, 152, 45, 1) 79%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 5%;
}
.right-side div h1 {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    121deg,
    rgba(255, 0, 48, 1) 0%,
    rgba(253, 152, 45, 1) 79%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 5%;
}
.right-side div p {
  width: 100%;
  height: auto;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5rem;
  color: rgb(208, 208, 208);
}
.right-side .links {
  /* width: 100%; */
  height: auto;
  background: white;
  border-radius: 1rem;
  background: linear-gradient(
    121deg,
    rgba(255, 0, 48, 1) 0%,
    rgba(253, 152, 45, 1) 79%
  );
}

.links a {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  flex-direction: row;
  color: rgb(0, 0, 0);
  text-transform: lowercase;
}

#proj-1 {
  background: url({});
}
