.Proj_Parent{
	float: left;
	position: relative;
	min-width: 100vh;
	width: 100%;
}

.Proj_Content{
	position: relative;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	background: url('../../static/img_portfolio.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
.Proj_Content .Column{
	width: 50%;
	min-height: 100vh;
	height: auto;
	flex: 50%;
	display: flex;
	flex-direction: column;
	/* border: solid black 2px; */
	background: transparent;
}
#left-column{
  align-items: flex-start;
	padding: 5% 2.5% 5% 5%;
}
#right-column{
  align-items: flex-end;
	padding: 5% 5% 5% 2.5%;
}